.cargo
.github
.vscode
.idea
client/**
crates/**
node_modules
out
logs
target
.gitignore
Cargo.lock
Cargo.toml
bun.lock
pnpm-lock.yaml
rust-toolchain
rustfmt.toml
tsconfig.json
webpack.config.js
esbuild.ts